<!DOCTYPE html>
<html>
    <head>
        <meta chaset="utf-8">
        <title>Some WebSite</title>
    </head>
    <body>
        {{> header}}
        <p>Some Text Here</p>

    {{> footer}}
    </body>
</html>
