<!DOCTYPE html>
<html>
    <head>
        <meta chaset="utf-8">
        <title>Some WebSite</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamit welcomeMessage}}</p>

       {{> footer}}
    </body>
</html>
